@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #191919;
  --charcoal: #2E2D2D;
  --green: #7BCD60;
  --light-green: #98fc77;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
}

body {
  color: var(--charcoal);
  background: var(--charcoal);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

h1,h2 {
  font-family: var(--font-gotham-medium);
}

p,a {
  font-family: var(--font-poppins-medium);
}
